ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px;
}

.fighter-item {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly
}

h2, h3, h1, p {
  display:flex;
  justify-content: center;
} 